/* You can add global styles to this file, and also import other style files */
.h1-strong{
	font-size: 35px;
	font-weight: bold;
	margin-left: 13px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}

.navigation {
	padding: 0px !important;
}

.navigation .navbar{
	border-radius: 0px !important;
	border: none;
}

.navigation .navbar * {
	/*color: #fff !important;*/
}

.active{
	background: #9c1111;
}

/* USERS */
.item-user .image-user{
	width: 75px;
	height: 75px;
	border-radius: 100px;
	overflow: hidden;
	margin-right: 15px;
}

.item-user .image-user img{
	width: 137px;
}

.item-user .image-name{
	margin-top: 10px;
}

.item-user .user-name .name-surname a{
	color: #444;
	font-weight: bold;
}

.item-user .user-name .nickname{
	color: #ccc;
}

.item-user .avatar-default img{
	width: 100%;
}

/* SIDE BAR*/
.sidebar-32{
	width: 32px;
}

#user-card, #new-publication{
	padding: 25px;
	width: 32%;
}

#user-card .avatar{
	width: 75px;
	height: 75px;
	border-radius: 100%;
	overflow: hidden;
	margin-right: 15px;
}

#user-card .avatar img{
	width: 137px;
}

#user-card .name-surname a{
	color: #555;
}

#user-card .name-surname .nickname{
	color: #969393;
}

#user-card .label-stats, 
#user-card .number-stats {
	display: block;
}

#user-card .label-stats{
	font-weight: bold;
	color: #555;
}

#user-card .number-stats{
	font-weight: bold;
	color: green;
}

#user-card .following-data:first-child{
	padding-left: 6px;
}

#user-card .following-data:last-child{
	padding-left: none;
}

#new-publication{
	padding: 25px;
	padding-left: 10px;
}

/*Publicaciones*/
.publications {
	min-height: 500px;
}